# Python virtualenv
env

# Cannot distribute opg_propaceos.py
opacplot2/opg_propaceos.py

# OSX filesystem
.DS_Store

# Python stuff
.cache
opacplot2.egg-info
build
visualization/*.ipynb
visualization/.ipynb_checkpoints
*pyc
to-do.txt
.coverage

# Misc
.old
dist
*.swp
misc

# EoS/opacity files
*cn4
